@import 'tailwindcss';
@import 'tailwindcss/utilities';

@important #root;
@core-plugins preflight;
@custom-variant dark &:is(#root.dark, #root.dark *);
@content './index.html';
@content './src/**/*.{js,ts,jsx,tsx}';

@layer base {
  body {
    @apply bg-slate-200;
  }
}

::selection {
  color: #ffffff;
  background-color: #60a5fa;
}
::-moz-selection {
  color: #ffffff;
  background-color: #60a5fa;
}

@layer components {
  .movie-data-input {
    @apply w-full h-7 px-1
    border border-solid rounded focus:outline
    text-gray-800 bg-gray-200 border-gray-300
    focus:text-black focus:bg-gray-100 focus:border-gray-400
    disabled:bg-gray-400
    dark:text-gray-200 dark:bg-gray-800 dark:border-gray-600
    dark:focus:text-white dark:focus:bg-gray-900 dark:focus:border-gray-500
    dark:disabled:bg-gray-400;
  }
  .movie-data-select {
    @apply w-full p-1
    rounded border active:outline
    bg-gray-200 border-gray-300
    focus:bg-gray-100 focus:border-gray-500
    disabled:bg-gray-400
    dark:bg-gray-800 dark:border-gray-700
    dark:focus:bg-gray-900 dark:focus:border-gray-50
    dark:disabled:bg-gray-400;
  }
  .movie-data-button {
    @apply inline-block w-1/2 mx-2 my-1 p-1
    uppercase font-bold tracking-wider
    rounded
    text-gray-100
    disabled:bg-gray-400 disabled:hover:bg-gray-400;
  }
  .nav-bar-button {
    @apply inline-block w-32 mx-2 p-2
    font-semibold text-center
    rounded-xl
    text-gray-100 bg-slate-700 hover:bg-slate-600
    dark:text-gray-900 dark:bg-slate-300 dark:hover:bg-slate-400;
  }
}
